<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reto 1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div class="card text-center">
    <div class="card-header">
      Introducción a la Ciencia de Datos en Ingeniería de Sistemas - Reto 1
    </div>
    <div class="card-body">
      <h5 class="card-title">Casos Positivos COVID-19 Cundinamarca</h5>
      <p class="card-text">
        Arthur David Sanchez Lopez - 20171020073<br>
        Juan Esteban Olaya García - 20171020135<br>
        Xiomara Valentina Gutierrez Mora - 20191025079
        </p>
    </div>
    <div class="card-footer text-muted">
      <form action="/" method="POST">
        <select class="form-select" aria-label="Default select example" name="2">
          <option selected>Municipio</option>
          <option value="1">Mujer</option>
          <option value="2">Hombre</option>
        </select>
        <select class="form-select" aria-label="Default select example" name="3">
          <option selected>Edad</option>
          <option value="1">Mujer</option>
          <option value="2">Hombre</option>
        </select>
        <select name="Sexo" class="form-select" aria-label="Default select example">
          <option selected >Sexo</option>
          <option value="Mujer">Mujer</option>
          <option value="Hombre">Hombre</option>
        </select>
        <select name="Estado" class="form-select" aria-label="Default select example">
          <option selected>Estado</option>
          <option value="Fallecido">Fallecido</option>
          <option value="Leve">Leve</option>
        </select>
        <button type="submit" class="btn btn-success">Filtrar</button>
      </form>
    </div>
    
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            {% for col in column_names %}
            <th scope="col">
                {{col}}
            </th>
            {% endfor %}
          </tr>

        </thead>
        <tbody>
          {% for row in row_data %}
          <tr>
            {% for col, row_ in zip(column_names, row) %}
            <td scope="row">
                {{row_}}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}

         
        </tbody>
  
      </table>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>